.picup-container {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 40px 0;
}
h2.picup-container-header{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
a.picup-container__name{
  margin: 26px 11px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: #3399FF;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.picup-container__item{
  width: 1008px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.item-box {
  color:black;
  background-color: white;
  width: 228px;
  margin-bottom: 20px;
  display: inline-block;
  &:last-child{
    margin: 0 0 0 20px;
  }
  &__container{
    padding: 16px;
  }
  &__image {
    height: 200px;
    width: 228px;
    object-fit: cover;
  }
  &__name {
    text-decoration: none;
    height: 3em;
  }
  &__price {
    font-weight: bold;
  }
  &__tax {
    font-size: 10px;
  }
}
a.picup-container__last{
  text-decoration: none;
  font-size: 15px;
  color: #3399FF;
  display: block;
  text-align: right;
  margin-top: 15px;
  padding-right: 16px;
}
